# Wisdom of the Tribe 
## Database Design
### *Justin M. Olds* [github.com/jmolds](https://github.com/jmolds)
---
**Project Overview:** The ultimate purpose of this project is to develop a recommendation system for films based the match between a user's film preferences and the preferences of established film critics. This *Wisdom of the Tribes* approach contrasts with *Wisdom of the Masses* approaches provided by many popular websites, such as Metacritic and RottenTomatoes. 

---
In this notebook, I showcase how specific film and review information is scraped from metacritic.com and saved within a SQL database. Webpages were previously saved and this approach was detailed in another notebook: [saving-reviews-and-film-info-from-metacritic](https://github.com/jmolds/widsom-of-the-tribe/blob/master/saving-reviews-and-film-info-from-metacritic.ipynb "Notebook Link").

In [1]:
%load_ext blackcellmagic

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import IPython
from IPython.display import HTML
from IPython.display import display
import requests
from bs4 import BeautifulSoup
import time
from tqdm import tqdm
import csv
import pandas as pd
import numpy as np
import shelve  ### shalve was used in the previous notebook to save all

# html pages to be reinstated
r = shelve.open("films.requests.dat")
film_pages = r["film_pages"]
review_pages = r["review_pages"]
error_index = r["error_index"]
r.close()

## Database table creation
The schema for saving film and review information is show below:
![Example Advanced Search page](https://github.com/jmolds/widsom-of-the-tribe/blob/master/data-images-etc/database%20design.png?raw=true)

In [3]:
###create DB tables
import sqlite3
import pandas as pd
from datetime import datetime

conn = sqlite3.connect("films_and_reviews.db")
c = conn.cursor()

####### create tables
c.execute("DROP TABLE IF EXISTS film")
c.execute("DROP TABLE IF EXISTS review")
c.execute("DROP TABLE IF EXISTS author")
c.execute("DROP TABLE IF EXISTS genre")
c.execute("DROP TABLE IF EXISTS film_genre")

c.execute(
    """
          CREATE TABLE film (
          film_id INTEGER PRIMARY KEY AUTOINCREMENT, 
          film_title TEXT, 
          film_release_date TEXT,
          film_runtime INTEGER
          )"""
)

c.execute(
    """
          CREATE TABLE genre (
          genre_id INTEGER PRIMARY KEY AUTOINCREMENT, 
          genre_label TEXT 
          )"""
)

c.execute(
    """
          CREATE TABLE film_genre (
          film_id REFERENCES film(film_id),
          genre_id REFERENCES review(genre_id), 
              CONSTRAINT film_genre_pk PRIMARY KEY (film_id, genre_id)
          )"""
)

c.execute(
    """
          CREATE TABLE review (
          film_id INTEGER, 
          author_id INTEGER,
          rating INTEGER,
              FOREIGN KEY (film_id) REFERENCES film(film_id)
              FOREIGN KEY (author_id) REFERENCES author(author_id)
              CONSTRAINT review_pk PRIMARY KEY (film_id, author_id)
          )"""
)

c.execute(
    """
          CREATE TABLE author (
          author_id INTEGER PRIMARY KEY AUTOINCREMENT,
          first_name TEXT, 
          last_name TEXT
          )"""
)
conn.commit()

---
Next, functions for parsing film and review information were defined to make the code for looping through each film more readable.

In [5]:
### Define functions for webscraping
def scrape_film_title(soup_source):
    scrape = soup_source.select("div > h1")
    scrape = str(scrape)
    scrape = scrape.partition("</h1>")[0]
    scrape = scrape.partition("<h1>")[2]
    return scrape
####returns string to be temporarily saved for db insert

def scrape_film_release_date(soup_source):
    scrape = soup_source.select("span.release_date")
    scrape = str(scrape)
    scrape = scrape.partition("</span>\n<span>")[2]
    scrape = scrape.partition("</span>")[0]
    scrape = datetime.strptime(scrape, "%B %d, %Y")
    scrape = scrape.strftime("%Y-%m-%d")
    return scrape

def scrape_film_runtime(soup_source):
    scrape = soup_source.select("div.runtime")
    scrape = str(scrape)
    scrape = scrape.partition("</span>\n<span>")[2]
    scrape = scrape.partition(" min</span>")[0]
    return scrape

def scrape_film_genre_list(soup_source):
    scrape = soup_source.select("div.genres > span")[1]
    scrape = scrape.select("span")
    for x in range(0, len(scrape)):
        scrape[x] = str(scrape[x])
        scrape[x] = scrape[x].partition("</span>")[0]
        scrape[x] = scrape[x].partition("<span>")[2]
    return scrape
##### Returns a list of strings. List length can vary depending on the number of listed genres

def scrape_reviews_auth_name_list(soup_source):
    scrape = soup_source.select("span.author")
    first_name_list = [None] * len(scrape)
    last_name_list = [None] * len(scrape)
    last_name_first_name_list = [None] * len(scrape)
    for x in range(0, len(scrape)):
        scrape[x] = str(scrape[x])
        scrape[x] = scrape[x].partition('author">')[2]
        if "<a href=" in scrape[x]:
            scrape[x] = scrape[x].partition('movies">')[2]
            scrape[x] = scrape[x].partition("</a></span>")[0]
        else:
            scrape[x] = scrape[x].partition("</span>")[0]
        if "Staff" not in scrape[x]:
            first_name_list[x] = scrape[x].partition(" ")[0]
            last_name_list[x] = scrape[x].partition(" ")[2]
            last_name_first_name_list[x] = (last_name_list[x], first_name_list[x])
        else:
            last_name_first_name_list[x] = None
    return last_name_first_name_list
# Database NOTE: authors with middle names listed are included within Last_name
# (e.g., "Joy - Gould Boyum")
# Returns tuple for last name and first name or None object if author is uncredited

def scrape_reviews_rating_list(soup_source):
    scrape = soup_source.select("div.left.fl")
    for x in range(0, len(scrape)):
        scrape[x] = str(scrape[x])
        scrape[x] = scrape[x].partition("</div>")[0]
        scrape[x] = scrape[x].partition(">")[2]
        scrape[x] = scrape[x].partition(">")[2]
    return scrape

In [6]:
###Loop for extracting attributes and inserting into db
release_date_error = list()
runtime_error = list()
genre_film_unique_error = list()
for x in tqdm(range(0, len(film_pages))):
    ##Reset temp_variables
    temp_film_title = None
    temp_film_release_date = None
    temp_film_runtime = None
    temp_film_genre_list = None
    temp_reviews_name_list = None
    temp_reviews_ratings_list = None

    if film_pages[x] is not None:
        ## Parse film html for webscraping
        film_soup = BeautifulSoup(film_pages[x].content, "html.parser")
        if len(film_soup) > 0:
            ## Scrape title, release date and runtime and temporarily save for film x
            temp_film_title = scrape_film_title(film_soup)
            try:
                temp_film_release_date = scrape_film_release_date(film_soup)
            except:
                temp_film_release_date = "NULL"
                error_index.append(x)
            try:
                temp_film_runtime = scrape_film_runtime(film_soup)
            except:
                temp_film_runtime = "NULL"
                runtime_error.append(x)
            ## Insert film information into film table (no uniqueness checks required)
            c.execute(
                """
                  INSERT INTO film
                  (film_title, film_release_date, film_runtime) 
                  VALUES (?,?,?)""",
                [temp_film_title, temp_film_release_date, temp_film_runtime],
            )
            ## Scrape the list of genre labels for film x
            temp_film_genre_list = scrape_film_genre_list(film_soup)
            ## check if each genre label exists and insert any new labels into the genre table
            for i in range(
                0, len(temp_film_genre_list)
            ):  # NOTE: genre i refers to current genre
                c.execute(
                    "SELECT * FROM genre WHERE genre_label=?", [temp_film_genre_list[i]]
                )
                db_check_genre = c.fetchone()
                ## If genre label doesn't exist yet insert it into the genre table
                if db_check_genre is None:
                    c.execute(
                        "INSERT INTO genre (genre_label) VALUES (?)",
                        [temp_film_genre_list[i]],
                    )
                ## For updating the film_genre table -- retrieve film_id
                c.execute(
                    "SELECT film_id FROM film WHERE film_title=? AND film_release_date=?",
                    [temp_film_title, temp_film_release_date],
                )
                db_get_film_id = c.fetchone()
                ## For updating the film_genre table -- retrieve genre_id
                c.execute(
                    "SELECT genre_id FROM genre WHERE genre_label=?",
                    [temp_film_genre_list[i]],
                )
                db_get_genre_id = c.fetchone()
                ## Update the film_genre table -- for each genre i and film x
                try:
                    c.execute(
                        """
                              INSERT INTO film_genre
                              (film_id, genre_id) 
                              VALUES (?,?)""",
                        [db_get_film_id[0], db_get_genre_id[0]],
                    )
                except:
                    genre_film_unique_error.append(x)
            ## Parse reviews html for webscraping
            reviews_soup = BeautifulSoup(review_pages[x].content, "html.parser")
            ## Scrape author names and ratings for each review of film x
            temp_reviews_name_list = scrape_reviews_auth_name_list(reviews_soup)
            temp_reviews_ratings_list = scrape_reviews_rating_list(reviews_soup)
            ##For each review check if author name exists in author table and update table if not
            for j in range(
                0, len(temp_reviews_name_list)
            ):  # NOTE: name j refers to current reviewer name
                ## If the review is credited to an author
                if temp_reviews_name_list[j] is not None:
                    c.execute(
                        "SELECT * FROM author WHERE last_name=? AND first_name=?",
                        temp_reviews_name_list[j],
                    )
                    db_check_author = c.fetchone()
                    ## If author j doesn't exist yet insert it into the author table
                    if db_check_author is None:
                        c.execute(
                            "INSERT INTO author (last_name, first_name) VALUES (?,?)",
                            temp_reviews_name_list[j],
                        )
                    ## For updating the review table -- retrieve film_id
                    c.execute(
                        "SELECT film_id FROM film WHERE film_title=? AND film_release_date=?",
                        [temp_film_title, temp_film_release_date],
                    )
                    db_get_film_id = c.fetchone()
                    ## For updating the review table -- retrieve author_id
                    c.execute(
                        "SELECT author_id FROM author WHERE last_name=? AND first_name=?",
                        temp_reviews_name_list[j],
                    )
                    db_get_author_id = c.fetchone()
                    ## update review table for review j and film x
                    c.execute(
                        """
                        INSERT OR IGNORE INTO review
                        (film_id, author_id, rating) 
                        VALUES (?,?,?)""",
                        [
                            db_get_film_id[0],
                            db_get_author_id[0],
                            temp_reviews_ratings_list[j],
                        ],
                    )
                ## If the review is NOT credited to an author
                else:
                    ## create a new author_id for the uncredited review author
                    c.execute(
                        "INSERT INTO author (last_name, first_name) VALUES (?,?)",
                        ("Uncredited", "Uncredited"),
                    )
                    ## For updating the review table -- retrieve film_id
                    c.execute(
                        "SELECT film_id FROM film WHERE film_title=? AND film_release_date=?",
                        [temp_film_title, temp_film_release_date],
                    )
                    db_get_film_id = c.fetchone()
                    ## For updating the review table -- retrieve author_id
                    c.execute("SELECT MAX(author_id) FROM author")
                    db_get_author_id = c.fetchone()

### Inspect database

In [20]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("C:/Users/Justin/Desktop/Projects/wisdom-of-the-tribe/films_and_reviews.db")
c = conn.cursor()

In [24]:
df = pd.read_sql_query("""
    SELECT *
    FROM genre
""", conn);df

    genre_id  genre_label
0          1       Action
1          2    Adventure
2          3       Sci-Fi
3          4      Romance
4          5       Comedy
5          6        Crime
6          7          War
7          8    Biography
8          9        Drama
9         10        Music
10        11      Musical
11        12      Western
12        13       Family
13        14     Thriller
14        15       Horror
15        16        Sport
16        17      Mystery
17        18      Fantasy
18        19    Animation
19        20      History
20        21  Documentary
21        22         News
22        23    Film-Noir
23        24   Reality-TV
24        25        Adult
25        26        Short

In [22]:
df = pd.read_sql_query("""
    SELECT *
    FROM film
""", conn);df

,film_id,film_title,film_release_date,film_runtime,film_rating_avg,film_rating_sd
0,1,Star Wars: Episode V - The Empire Strikes Back,1980-05-21,124,None,None
1,2,Superman II,1981-06-19,127,None,None
2,3,Stir Crazy,1980-12-12,111,None,None
3,4,Airplane!,1980-07-02,88,None,None
4,5,Any Which Way You Can,1980-12-17,116,None,None
5,6,Private Benjamin,1980-10-10,109,None,None
6,7,Coal Miner's Daughter,1980-03-07,124,None,None
7,8,Smokey and the Bandit II,1980-08-15,100,None,None
8,9,The Blue Lagoon,1980-07-02,104,None,None
9,10,The Blues Brothers,1980-06-20,133,None,None
10,11,Ordinary People,1980-09-18,124,None,None
11,12,Urban Cowboy,1980-06-06,132,None,None
12,13,Popeye,1980-12-12,114,None,None
13,14,The Shining,1980-05-23,146,None,None
14,15,Seems Like Old Times,1980-12-19,100,None,None
15,16,Cheech and Chong's Next Movie,1980-07-18,99,None,None
16,17,Caddyshack,1980-07-25,98,None,None
17,18,Friday the 13th,2009-02-13,97,None,None
18,19,Brubaker,1980-06-20,131,None,None
19,20,Little Darlings,1980-03-21,96,None,None
20,21,Dressed to Kill,1980-07-25,105,None,None
21,22,The Gods Must Be Crazy,1984-10-26,109,None,None
22,23,The Jazz Singer,1980-12-19,115,None,None
23,24,Bronco Billy,1980-06-11,116,None,None
24,25,Raging Bull,1980-11-14,129,None,None
25,26,The Long Riders,1980-05-16,100,None,None
26,27,American Gigolo,1980-02-01,117,None,None
27,28,Xanadu,1980-08-08,93,None,None
28,29,My Bodyguard,1980-09-26,96,None,None
29,30,The Fog,2005-10-14,100,None,None
...,...,...,...,...,...,...
8144,8145,In Search of Fellini,2017-09-15,93,None,None
8145,8146,Félicité,2017-10-27,129,None,None
8146,8147,The Boy Downstairs,2018-02-16,91,None,None
8147,8148,The Escape,2018-05-11,101,None,None
8148,8149,Hannah,2018-02-23,95,None,None
8149,8150,Sicilian Ghost Story,2018-11-30,122,None,None
8150,8151,Sweet Virginia,2017-11-17,93,None,None
8151,8152,Please Stand By,2018-01-26,93,None,None
8152,8153,The Eyes,2017-04-07,95,None,None
8153,8154,The Ballad of Lefty Brown,2017-12-15,111,None,None
8154,8155,Dark River,2018-06-29,90,None,None
8155,8156,Another WolfCop,2017-12-01,82,None,None
8156,8157,Painless,2018-09-21,81,None,None
8157,8158,The Vault,2017-09-01,91,None,None
8158,8159,The Man from Earth: Holocene,2017-10-13,98,None,None
8159,8160,Lycan,2017-08-04,87,None,None
8160,8161,Dark Meridian,2017-12-01,91,None,None
8161,8162,The Tribes of Palos Verdes,2017-12-01,104,None,None
8162,8163,Weightless,2018-11-09,93,None,None
8163,8164,The Family,2013-09-13,111,None,None
8164,8165,Emily,2017-01-27,83,None,None
8165,8166,Kepler's Dream,2017-12-01,90,None,None
8166,8167,Demons,2017-10-06,105,None,None
8167,8168,Take Me,2017-05-05,83,None,None
8168,8169,7 from Etheria,2017-07-05,95,None,None
8169,8170,Dayveon,2017-09-13,75,None,None
8170,8171,Marrowbone,2018-04-13,110,None,None
8171,8172,Life of the Party,2018-05-11,105,None,None
8172,8173,The Swan,2018-08-10,91,None,None
8173,8174,Amityville: The Awakening,2017-10-28,85,None,None

In [23]:
df = pd.read_sql_query("""
    SELECT *
    FROM author
""", conn);df

,author_id,first_name,last_name,author_rating_avg,author_rating_sd,total_score,score_count,pref_aff,review_count
0,1,Charles,Champlin,None,None,None,None,None,None
1,2,Joe,Pollack,None,None,None,None,None,None
2,3,Uncredited,Uncredited,None,None,None,None,None,None
3,4,Gary,Arnold,None,None,None,None,None,None
4,5,Roger,Ebert,None,None,None,None,None,None
5,6,James,Berardinelli,None,None,None,None,None,None
6,7,Peter,Stack,None,None,None,None,None,None
7,8,Gene,Siskel,None,None,None,None,None,None
8,9,David,Sterritt,None,None,None,None,None,None
9,10,Lisa,Schwarzbaum,None,None,None,None,None,None
10,11,David,Ansen,None,None,None,None,None,None
11,12,Earnest,Leogrande,None,None,None,None,None,None
12,13,Arthur,Knight,None,None,None,None,None,None
13,14,Pauline,Kael,None,None,None,None,None,None
14,15,Chris,Gore,None,None,None,None,None,None
15,16,Bob,Stephens,None,None,None,None,None,None
16,17,Gerald,Clarke,None,None,None,None,None,None
17,18,Uncredited,Uncredited,None,None,None,None,None,None
18,19,Uncredited,Uncredited,None,None,None,None,None,None
19,20,Derek,Malcolm,None,None,None,None,None,None
20,21,Judith,Martin,None,None,None,None,None,None
21,22,Vincent,Canby,None,None,None,None,None,None
22,23,Stephen,Godfrey,None,None,None,None,None,None
23,24,Joy,Gould Boyum,None,None,None,None,None,None
24,25,Dave,Kehr,None,None,None,None,None,None
25,26,Uncredited,Uncredited,None,None,None,None,None,None
26,27,Uncredited,Uncredited,None,None,None,None,None,None
27,28,Janet,Maslin,None,None,None,None,None,None
28,29,Uncredited,Uncredited,None,None,None,None,None,None
29,30,Richard,Schickel,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
5867,5868,Hamish,Mcbain,None,None,None,None,None,None
5868,5869,Uncredited,Uncredited,None,None,None,None,None,None
5869,5870,William,Robert Ferrer,None,None,None,None,None,None
5870,5871,Jocelyn,Noveck,None,None,None,None,None,None
5871,5872,Kim,Hughes,None,None,None,None,None,None
5872,5873,Dana,Schwartz,None,None,None,None,None,None
5873,5874,Uncredited,Uncredited,None,None,None,None,None,None
5874,5875,Uncredited,Uncredited,None,None,None,None,None,None
5875,5876,Kenneth,Seward Jr.,None,None,None,None,None,None
5876,5877,Devika,Girish,None,None,None,None,None,None
5877,5878,Durga-Chew,Bose,None,None,None,None,None,None
5878,5879,Josh,Wise,None,None,None,None,None,None
5879,5880,Brian,Thompson,None,None,None,None,None,None
5880,5881,Chad,Jones,None,None,None,None,None,None
5881,5882,André,Hereford,None,None,None,None,None,None
5882,5883,Samantha,Incorvaia,None,None,None,None,None,None
5883,5884,Nick,Dent,None,None,None,None,None,None
5884,5885,Karen,Han,None,None,None,None,None,None
5885,5886,\n,Justin Chang\n ...,None,None,None,None,None,None
5886,5887,Chuck,Foster,None,None,None,None,None,None
5887,5888,Nick,Rocco Scalia,None,None,None,None,None,None
5888,5889,Anna,Storm,None,None,None,None,None,None
5889,5890,Christian,Gallichio,None,None,None,None,None,None
5890,5891,Maureen,Lee Lenker,None,None,None,None,None,None
5891,5892,Leonardo,Goi,None,None,None,None,None,None
5892,5893,Sergi,Sanchez,None,None,None,None,None,None
5893,5894,Paul,Parcellin,None,None,None,None,None,None
5894,5895,Marissa,Martinelli,None,None,None,None,None,None
5895,5896,Andrew,Ward,None,None,None,None,None,None
5896,5897,Lorry,Kikta,None,None,None,None,None,None

In [25]:
df = pd.read_sql_query("""
    SELECT *
    FROM review
""", conn);df

        film_id  author_id  rating
0             1          1     100
1             1          2     100
2             1          4     100
3             1          5     100
4             1          6     100
5             1          7     100
6             1          8     100
7             1          9     100
8             1         10     100
9             1         11     100
10            1         12      90
11            1         13      90
12            1         14      90
13            1         15      90
14            1         16      88
15            1         17      80
16            1         20      60
17            1         21      60
18            1         22      50
19            1         23      50
20            1         24      40
21            1         25      40
22            2         25     100
23            2          5     100
24            2          8      88
25            2          6      88
26            2         28      80
27            2         30      80
28            2         31      80
29            2         11      80
...         ...        ...     ...
165302     8172        274      63
165303     8172        551      63
165304     8172        575      58
165305     8172       2344      58
165306     8172       5784      58
165307     8172        507      50
165308     8172        981      50
165309     8172        989      50
165310     8172        332      50
165311     8172       1858      50
165312     8172       1324      50
165313     8172        188      50
165314     8172         41      50
165315     8172        913      50
165316     8172        237      50
165317     8172        679      50
165318     8172       5737      42
165319     8172       2336      42
165320     8172        148      38
165321     8172        337      38
165322     8172        490      29
165323     8172          6      25
165324     8172        972      25
165325     8172       1857      20
165326     8172       1326      20
165327     8172        307      12
165328     8174       5502      55
165329     8174        250      50
165330     8174       1642      42
165331     8174       2338      40

[165332 rows x 3 columns]